[submodule "SDG-Meter-Backend"]
	path = SDG-Meter-Backend
	url = https://github.com/UNEP-Economy-Division/SDG-Meter-Backend.git
	branch = main
[submodule "SDG-Meter-Frontend"]
	path = SDG-Meter-Frontend
	url = https://github.com/UNEP-Economy-Division/SDG-Meter-Frontend.git
	branch = main
